$font-brand: 'Courgette', cursive;
$font-main: 'Open Sans', sans-serif;
$font-text: 'Zilla Slab', serif;

$color-light: #ecf0f1;
$color-dark: #34495e;
$color-background: #95a5a6;
$color-medium: #2c3e50;

.container {
    position: relative;
    background-image: url('https://i.postimg.cc/NjBXg6bN/pexels-cyril-caiazzo-1581687.jpg');
    height: 100vh;
    position: relative;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
}

.page-title {
    font-family: $font-main;
    color: red;
}
.subtitle {
    color: yellow;
}